<!doctype html>
<title>Who2Root4</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<h1 style="text-align:center;">Who2Root4</h1>
<h2>Search...</h2>
<form action="/results" method="POST">
     <h3><input type="radio" name="choice" value="choice1" checked="checked"> By your favorite team:</h3>
 <p>
    Favorite Team: <input type="text" name="Team" placeholder="Enter Team...">
     <p>Recommend a team in
     <input type="radio" name="league" value="NFL" checked="checked">NFL</input>
     <input type="radio" name="league" value="NCAA">NCAA</input></p>
 </p>
    <h2>OR...</h2>
    <h3><input type="radio" name="choice" value="choice2"> By Style of Play: </h3>
    <p>
        In this league,
        <input type="radio" name="league2" value="nfl" checked="checked">NFL</input>
        <input type="radio" name="league2" value="ncaa">NCAA</input>
    </p>
    <p>
        I prefer a good...
        <br>
        <input type="radio" name="style" value="excitingPassO" checked="checked">Passing Offense</input>
        <input type="radio" name="style" value="excitingRunO">Running Offense</input>
    </p>
    <p>
        <input type="radio" name="style" value="excitingRunD">Passing Defense</input>
        <input type="radio" name="style" value="excitingPassD">Running Defense</input>
    </p>
  <input type="submit" value="GO!">
</form>
<p>
    <div class="flashmessage" style="min-height:100% width:80%">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
</p>
{%if results%}
    <h2>{{title}}</h2>

    {% for result in results %}
        <p>{{result}}</p>
    {% endfor %}
{%endif%}